<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro
      name="rrbot_ros2_control"
      params="name prefix">

    <ros2_control
        name="${name}"
        type="sensor">
      <hardware>
        <plugin>ros2_control_demo_example_1/RRBotSystemPositionOnlyHardware</plugin>
        <param name="example_param_hw_start_duration_sec">0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_hw_slowdown">100</param>
      </hardware>
      <sensor name="${prefix}image_sensor">
        <state_interface name="height" />
        <state_interface name="width" />
        <state_interface name="encoding" />
        <state_interface name="is_bigendian" />
        <state_interface name="step" />
        <state_interface name="data" />
      </sensor>
    </ros2_control>

  </xacro:macro>

</robot>